.section-title {
  position: relative;
  display: inline-block;
}
.ff-secondary {
  font-family: "Pacifico", cursive;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: #fea116;
}
.text-color {
  color: #fea116;
}
.border-primary {
  border-color: #fea116;
}
.border-start {
  border-left: 1px solid #dee2e6 !important;
}
