.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    url(../ResturantImage/video.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}
.video .btn-play:before {
  content: "▶";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #fea116;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  font-size: 3em;
  color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.video span i {
  font-size: 4em;
  color: orange;
  position: absolute;
  top: 8px;
  left: 8px;
}
.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #fea116;
  border-radius: 50%;
  transition: all 200ms;
}
.section-title {
  position: relative;
  display: inline-block;
}
.ff-secondary {
  font-family: "Pacifico", cursive;
}
.text-primary {
  color: #fea116 !important;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: #fea116;
}
.form-floating {
  position: relative;
}
.modal-body iframe {
  width: 100%;
  height: auto;
}
